:root{
  --primary-clr:#d8123c;
  --mat:#333333;
  --light-mode:white;
  --dark-mode:#181a1c;
}

/* @media screen and (max-width:749px){
  .home-intro-container{
    height:450px;
    display: grid;
    align-content: center;
    padding:0 30px;
  }
  .home-intro-container h1{
    margin-bottom: 30px;
  }
  .home-image-container img{
    width:100vw;
    object-fit: cover;
  }
  .home-image-container{
    width:100vw;
  }
} */

/* @media screen and (min-width:750px){
  .home-info{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-intro-container{
    display:grid;
    align-content: center;
    height:610px;
    padding:0 60px;
  }
  .home-intro-container h1{
    margin-bottom:30px;
  }
  .home-image-container img{
    height:610px;
    width:100%;
    object-fit:cover;
  }
} */
.home-search-btn{
  font-size: 20px;
  width: max-content;
  background-color: var(--primary-clr);
  color:var(--light-mode);
  border-radius: 8px;
  padding: 9px;
  text-decoration:none;
  transition: 0.2s linear;
  display: inline-block;
  margin-top: 25px;
}
.home-search-btn:hover{
  background-color: var(--light-mode);
  color:var(--primary-clr);
  border:2px solid var(--primary-clr);
}
.star{
  color:var(--primary-clr);
}
.intro-para{
  line-height: 25px;
}
.home-list-div{
  width:1500px;
  display: grid;
  max-width: 87%;
  margin:0 auto;
  margin-top:35px;
}
.home-list-div h2{
  color:white;
  padding:30px 0;
  font-size: 36px;
}
.explore-container{
  display:grid;
  /* align-items: center; */
  grid-template-rows: 75px 75px;
  /* background-color: orange; */
  justify-items: center;
}
.explore{
  text-decoration: none;
  font-size: 25px;
  color:var(--primary-clr);
  transition: 0.1s linear;
}
.explore:hover{
  color:rgb(138, 21, 0);
}


@media screen and (min-width:750px){
  .explore-container{
    display:grid;
    align-items: center;
    justify-items:normal;
    grid-template-rows:1fr;
    grid-template-columns: 5fr 2fr;
  }
  .home-list-title{
    margin-left:80px;
  }
  .explore{
    margin-right:85px;
    /* background:orange; */
    justify-self: end;
  }
}
.home-image-container {
  height: 61vh;
  width:100%;
  background-color: black;
/* background-image:linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)), url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
background-size: 100% 100%;
z-index: -5;
}
.home-image-container img{
  opacity:0.4;
  height:100%;
  width:100%;
  object-fit: fill;
}
.home-intro-container{
  position: absolute;
  top:12%;
  width:90%;
  left:5%;
  height:60%;
  /* padding:40px; */
  color: whitesmoke;
  font-size: 30px;
  font-weight: light;
margin: 10px auto;
/* border: 2px solid white; */
  z-index: 100;
}
.logo-start-home{
  font-size: 5rem;
  font-weight: bolder;
  color:var(--light-mode);
  font-family: 'Grechen Fuemen', cursive;
  display: block;
  text-align: center;
  
  margin: 10px auto;
}

.intro-head{
  font-weight: bolder;
  color:white;
  margin-top:2%;
  display: block;
  text-align: center;
  justify-content: center;
  font-size:35px;
 
  font-family: 'Grechen Fuemen', cursive;
}
.img-create{
  display: block;
}
.intro-para{
  display: block;
  text-align: center;
  /* justify-content: center; */
  width:55%;
  margin:0 auto;
  margin-top:36px;
  font-size:20px;
}
@media screen and (max-width:400px){
  .logo-start-home{
    font-size:4rem;
  }
  .intro-para{
    font-size:15px;
  }
}
.home-search-btn:hover{background-color: transparent;}
.home-search-btn{
  background-color:#D8123C;
  color: white;
  display: block;
  width: 17%;
  text-align: center;
  margin: 0 auto;
  border:2px solid #D8123C;
  font-weight: bold;
  padding: 10px;
}
@media screen and  (max-width: 550px) {
  
  .home-search-btn{
    background-color:#D8123C;
    color: white;
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    padding: 10px;
  }
  .home-image-container {
    height: 79vh;
    width:100vw;
    box-sizing: border-box;
    background-color: black;
    /* background-image:linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)), url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
    background-size: 100% 100%;
    z-index: -5;
  }
  .home-intro-container{
  box-sizing: border-box;
  font-size: 12px;
  }
  .intro-para{
    width:100%;
  }
}
@media screen and (min-width: 550px)and  (max-width: 850px) {
  .home-intro-container{
    box-sizing: border-box;
    font-size: 12px;
    }
}