:root{
  --primary-clr:#d8123c;
  --mat:#333333;
  --light-mode:white;
  --dark-mode:#181a1c;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;

}
/* .navbar{
  min-width: 330px;
} */
.responsive-header-nav{
  display: none;
} 
#root{
  margin-bottom: 100px;
}
.nav-logo{
  width:4.5em;
  object-fit: contain;
}
.navbar{
  background-color: var(--light-mode);
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
  height:60px;
}
.nav-logo-name {
  margin-left: 1em;
  color: var(--light-mode);
  display: flex;
  font-family: 'Grechen Fuemen', cursive;
  background-color: var(--primary-clr);
  height: 46px;
  display: grid;
  place-items: center;
  padding: 0 15px;
}
.nav-left{
  display:flex;
  align-items: center;
  /* height:60px; */
}
/* .fas{
  display: none;
} */
.nav-links{
  font-weight: bold;
  color: var(--mat);
  font-size: large;
  margin-right: 20px;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s linear;
}
.Login{
  background: transparent;
  border:none
}
/* .nav-right{
  position:relative;
} */
/* .active{
  position:absolute;
  top:136%;
  left:0;
  background-color: var(--primary-clr);
  height:3px;
  border-radius: 2px;
  transition: 0.5s ease;
  width:90px;
} */
.nav-links a:hover{
  color:var(--primary-clr);
  /* text-decoration: underline; */
}
.create{
  margin-left: 28px;
  border-radius:12px;
  text-decoration: none;
  background-color: var(--light-mode);
  color: var(--primary-clr);
  border: 2px solid var(--primary-clr);
  padding:7px;
  font-weight:bold;
  transition: 0.2s linear;
}
.create:hover{
  background-color: var(--primary-clr);
  color:var(--light-mode);
}
.nav-logo-name{
  margin-left: 1em;
  color: var(--light-mode);
  display: flex;
  font-family: 'Grechen Fuemen', cursive;
  background-color: var(--primary-clr);
  height:55px;
  display: grid;
  place-items: center;
  padding:0 15px;
}
.logo-start{
  color:var(--light-mode);
  font-family: 'Grechen Fuemen', cursive;
  font-size:24px;
}
/* .logo-start span{
  color:var(--mat);
  font-family: 'Grechen Fuemen', cursive;
} */
.logo-end{
  /* color: var(--primary-clr); */
  /* font-family: 'Grechen Fuemen', cursive; */
}
.logo-link{
  text-decoration: none;
  display:inline-block;
  padding-left: 30px;
}
.nav-right{
  display: flex;
  align-items: center;
}
.foo-nav{
  margin-top: 25px;
}
@media all and (max-width:940px){
.name-links-nav{
  display:none;
}
}
/* @media all and (max-width:792px){
 .nav-links{
     margin-right: 15px;
display: flex;
justify-content: center;
 }
 .fas{
  display:flex;
  justify-content: center;
}
.name-links-nav{
  display: none;
}
  } */
  @media all and (max-width:810px){
      .nav-logo{
          width:3em;
          object-fit: contain;
      }
      .nav-logo-name{
          font-size: smaller;
      }
      /* .create{
          background-color: gainsboro;
          color: #000;
      } */
       }

       @media all and (max-width:550px){
          .responsive-header-nav{
              display: block;
              width: 100%;
          } 
          .nav-links{
              display: none;

          }
          .nav-left-content {
              display:none;
          }
       }

      
       .signup-link-res{
          background-color: var(--light-mode);
          color: var(--primary-clr);
          border: 2px solid var(--primary-clr);
          border-radius:12px;
          text-decoration:none;
          margin-right: 10px;
          padding-top: 7px;
          padding-bottom: 7px;
          font-weight: bold;
          transition: 0.2s linear;
       }
       .signup-link-res:hover{
        background-color: var(--primary-clr);
        color:var(--light-mode);
      }
       .login-link-res{
              color: var(--primary-clr);
              border-radius:12px;
              border: 2px solid var(--primary-clr);
              text-decoration:none;
              background-color: var(--light-mode);
              margin-right: 10px;
              padding: 8px;
              font-weight: bold;
              transition: 0.2s linear;
       }
       .login-link-res:hover{
        background-color: var(--primary-clr);
        color:var(--light-mode);
      }
       @media all and (max-width:315px){
         .nav-logo-name{
             display: none;
         }
       }.nav-logo-name {
        margin-left: 1em;
        color: var(--light-mode);
        display: flex;
        font-family: 'Grechen Fuemen', cursive;
        background-color: var(--primary-clr);
        height: 46px;
        display: grid;
        place-items: center;
        padding: 0 15px;
      }