:root{
  --primary-clr:#d8123c;
  --mat:#333333;
  --light-mode:white;
  --dark-mode:#181a1c;
}
.publish-btn {

  margin: 50px 0 0 73%;
  font-size: 20px;
  /* font-weight: bold; */
  color: var(--light-mode);
  width: max-content;
  background-color: var(--primary-clr);
  border-radius: 40px;
  padding: 9px 14px;
  margin-top: 10px;
  /* position: absolute; */
  cursor: pointer;
  /* left:50vw;
  top:100vh; */
}
.stp{
  position: relative;
}
.publish-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light-mode);
  text-decoration: none;
}
.create-img-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  /* column-gap: -30px; */
  /* background-color: orange; */
}
#input-image{
  width:129px;
  display:block;
}
.recipeForm-container {
  /* margin-top: 80px; */
  /* margin-bottom: 170px; */
  width:90%;
  margin:80px auto 170px auto;
  max-width: 1500px;
  /* position: relative; */
  /* height:100vh; */
}

.foam {
  display: inline-block;
  margin: 0 27%;
}

.recipeInfo-container {
  background-color: #ffffff;
  border: 2px solid rgb(211, 207, 207);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 20px;
  width:208%;
  padding: 20px;
}

.about-recipe {
  margin: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(238, 238, 234);
  border: none;
  border-width: 0;
  padding: 10px;
  border-radius: 20px;
}

#recipe-title {
  width: 550px;
  height: 40px;
  font-size: 30px;
}

#recipe-info {
  font-size: 20px;
}

#recipe-origin {
  width: 550px;
  height: 40px;
  font-size: 20px;
}

.quantity-info {
  display: flex;
  align-content: center;
}

.label-info {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
}

.info {
  margin-left: 140px;
  width: 330px;
  height: 40px;
  font-size: 20px;
}

#cooktime {
  margin-left: 90px;
}

/* .ingredients {
  border: 2px solid black;
} */

.ingredient-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.heading {
  font-size: 27px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
}

.bars {
  align-self: center;
  margin: 2px;
  opacity: 0.5;
}

.label-img {
  width: 30px;
  height: 30px;
}

.remove-button {
  width: 35px;
  height: 35px;
  align-self: center;
  border: none;
  border-width: 0;
  background-color: white;
}

.ingredient-steps {
  margin: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(238, 238, 234);
  border: none;
  border-width: 0;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  width: 450px;
  font-size: 20px;
}
.add-button {
  display: flex;
  align-content: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: fit-content;
  padding: 10px;
  margin: 10px 0 0 100px;
  border: none;
  border-width: 0;
  background-color: white;
}

.plus {
  align-self: center;
}

.add-button img {
  width: 20px;
  height: 20px;
}

#steps {
  height: 80px;
}
.ing{
  transform: translateX(-60px);
}
.ingredient-step {
  margin: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(238, 238, 234);
  border: none;
  border-width: 0;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  width: 70%;
  font-size: 20px;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .recipeForm-container {
    width: 360px;
  }
  #recipe-title {
    width: 270px;
    /* height: 40px; */
    font-size: 20px;
  }
  .recipeInfo-container {
    background-color: white;
    margin: 20px;
    width: 106%;
    padding: 20px;
  }
  #recipe-info {
    font-size: 15px;
    width: 270px;
  }

  #recipe-origin {
    width: 270px;
    height: 40px;
    font-size: 15px;
  }
  .info {
    /* margin-left: 140px; */
    width: 150px;
    height: 40px;
    font-size: 15px;
  }
  .label-info {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
  }
  #serves {
    margin-left: 53px;
  }
  #cooktime {
    margin-left: 20px;
  }
  .heading {
    font-size: 20px;
  }
  .label-img {
    width: 15px;
    height: 15px;
  }

  .remove-button {
    width: 25px;
    height: 25px;
  }

  .ingredient-div {
    margin-left: 0;
  }

  .ingredient-steps {
    height: 40px;
    width: 165px;
    font-size: 15px;
    /* padding: 10px 0; */
  }
  .foam {
    margin: 0;
  }
  .add-button {
    font-size: 20px;
  }

  .add-button img {
    width: 15px;
    height: 15px;
  }

  /* .publish-btn {
    margin: 20px 70%;
  } */
  
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .recipeForm-container {
    width: 440px;
  }
  .recipeInfo-container {
    background-color: white;
    margin: 20px;
    width: 132%;
    padding: 20px;
  }
 
  #recipe-title {
    width: 350px;
    /* height: 40px; */
    font-size: 20px;
  }
  #recipe-info {
    font-size: 15px;
    width: 350px;
  }

  #recipe-origin {
    width: 350px;
    height: 40px;
    font-size: 15px;
  }
  .info {
    /* margin-left: 140px; */
    width: 180px;
    height: 40px;
    font-size: 15px;
  }
  .label-info {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
  }
  #serves {
    margin-left: 100px;
  }
  #cooktime {
    margin-left: 61px;
  }
  .heading {
    font-size: 25px;
  }
  .label-img {
    width: 15px;
    height: 15px;
  }

  .remove-button {
    width: 25px;
    height: 25px;
  }

  .ingredient-steps {
    height: 40px;
    width: 260px;
    font-size: 15px;
  }
  .foam {
    margin: 0 10px;
  }
  .add-button {
    font-size: 20px;
  }

  .add-button img {
    width: 15px;
    height: 15px;
  }

  /* .publish-btn {
    margin: 20px 90px;
  } */
  .publish-btn{
    margin-left:3%;
  }
}

@media screen and (min-width: 500px) and (max-width: 550px) {
  .recipeForm-container {
    width: 550px;
  }
  .recipeInfo-container {
    background-color: white;
    margin: 20px;
    width: 152%;
    padding: 20px;
  }
  #recipe-title {
    width: 400px;
    /* height: 40px; */
    font-size: 20px;
  }
  #recipe-info {
    font-size: 15px;
    width: 400px;
  }

  #recipe-origin {
    width: 400px;
    height: 40px;
    font-size: 15px;
  }
  .info {
    /* margin-left: 140px; */
    width: 200px;
    height: 40px;
    font-size: 15px;
  }
  .label-info {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
  }
  #serves {
    margin-left: 130px;
  }
  #cooktime {
    margin-left: 90px;
  }
  .heading {
    font-size: 25px;
  }
  .label-img {
    width: 20px;
    height: 20px;
  }

  .remove-button {
    width: 25px;
    height: 25px;
  }
  .ingredient-step {
    height: 40px;
    width: 330px;
    font-size: 15px;
  }
  .ingredient-steps {
    height: 40px;
    width: 330px;
    font-size: 15px;
  }
  .foam {
    margin: 0;
  }
  .add-button {
    font-size: 20px;
  }

  .add-button img {
    width: 15px;
    height: 15px;
  }

  /* .publish-btn {
    margin: 20px 90px;
  } */
}

@media screen and (min-width: 550px) and (max-width: 600px) {
  .recipeForm-container {
    width: 600px;
  }
  #recipe-title {
    width: 400px;
    /* height: 40px; */
    font-size: 20px;
  }
  #recipe-info {
    font-size: 15px;
    width: 400px;
  }

  #recipe-origin {
    width: 400px;
    height: 40px;
    font-size: 15px;
  }
  .info {
    /* margin-left: 140px; */
    width: 200px;
    height: 40px;
    font-size: 15px;
  }
  .label-info {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
  }
  #serves {
    margin-left: 130px;
  }
  #cooktime {
    margin-left: 90px;
  }
  .heading {
    font-size: 25px;
  }
  .label-img {
    width: 20px;
    height: 20px;
  }

  .remove-button {
    width: 25px;
    height: 25px;
  }

  .ingredient-steps {
    height: 40px;
    width: 330px;
    font-size: 15px;
  }
  .ingredient-step {
    height: 40px;
    width: 330px;
    font-size: 15px;
  }
  .foam {
    margin: 0;
  }
  .add-button {
    font-size: 20px;
  }

  .add-button img {
    width: 15px;
    height: 15px;
  }

  /* .publish-btn {
    margin: 20px 90px;
  } */
}

/* @media screen and (min-width: 550px) and (max-width: 768px) {
  form {
    margin: 0 60px;
  }
} */

@media screen and (min-width: 600px) and (max-width: 700px) {
  .foam {
    margin: 0 1%;
  }
}

@media screen and (min-width: 701px) and (max-width: 768px) {
  .foam {
    margin: 0 4%;
  }
}
@media screen and (max-width:600px){
  .publish-btn{
    margin-left:43%;
  }
}
